import { util } from '@aws-appsync/utils';

export function request(ctx){
  const id = ctx.args.id || ctx.args.input.id;
  return {
    operation: 'GetItem',
    key: util.dynamodb.toMapValues({PK: `{{ .PK }}#${id}`, SK: `{{ .SK }}#${id}`}),
    consistentRead : false
  }
}

export function response(ctx){
  const { result } = ctx;
  if (ctx.error){
    util.error(ctx.error.message, ctx.error.type, ctx.result)
  }
  return {
    ...result
  }
}
