import {util} from '@aws-appsync/utils';

export function request(ctx){
  const {input} = ctx.args;
  let id;
  if (input.id == undefined){
    id = util.autoUlid();
  } else {
    id = input.id;
  }
  const createdAt = util.time.nowISO8601()
  return {
    operation: 'PutItem',
    key: util.dynamodb.toMapValues({
      PK: `{{ .PK }}#${id}`,
      SK: `{{ .SK }}#${id}`
    }),
    attributeValues: util.dynamodb.toMapValues({
      id: id,
      createdAt: createdAt,
      updatedAt: createdAt,
      {{- range .Attributes }}
      {{if ne . "id"}}{{ . }}: input.{{ . }},{{end}}
      {{- end }}
    }),
  };
}

export function response(ctx){
  if (ctx.error){
    util.error(ctx.error.message, ctx.error.type, ctx.result)
  }
  return {
    {{ .PK | toLowerCase }}ID: ctx.result.id,
    ...ctx.result,
  }
}
